<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Website</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Seymour+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./ForumStyle.css">
    </head>
<body>
    <header>
        <a href="index.html">
            <img class="logo" src="../Images/WebProLogo.png" >
        </a>
        <nav class="navigation">
            <a href="./Forum.html">Forum</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <button class="btnLogin-popup">Login</button>

        </nav>
    </header>


    <div class = "forumNewHeader">
      <button class="messageBtn">Post</button>

      <div class = "dropdown">
        <button class="dropdownBtn">Page: 1</button>
        <div class ="content">
            <a class="page">
                1
            </a>

           
            
            
        </div>
      </div>

      <button id ='limBtn' class = 'test'>Limit: 20</button>

      <button id ='fromBtn'>From</button>

      <button id = 'dateStart'>Date Start</button>

      <button id = 'dateEnd'>Date End</button>

      <button id="refreshBtn">Refresh</button>

    </div>

    <div class = 'forumBox' >
        <div class = 'item'>
            <a class="user">
                Test User
            </a>
            <a class="message">
                : Test message here
            </a>

        </div>
        
        

        

    </div>

    <div class="popup-error">
        
        <span class="icon-close-popup"><ion-icon name="close-outline"></ion-icon></span>
        <h2 id = "popupTxt">You are not logged in</h2>
    </div>

    <div class="messageForm">
        <h2>Type a message</h2>
        <div class="input-box">
            <textarea  required class='messageInput'></textarea>
        </div>
        <span class="icon-close-message"><ion-icon name="close-outline"></ion-icon></span>
        <button id = "sendMessage">Send</button>
    </div>


    <script src="../Script/ForumScript.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>