* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-family: "Seymour One", sans-serif;

    
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    font-family: "Seymour One", sans-serif;
}

header img{
    width:130px;
    border-radius: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url('../Images/hlw.jpg');
    background-size: cover;
    background-position: center;
}

.forumNewHeader .messageBtn{
    min-width: 130px;
    width:auto;
    height: 50px;

    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    transition: .5s;
    position: relative;
    align-self: flex-start;
    margin-left: 5vw;
    margin-right: 40px;
    margin-top: 20vh;
}

.forumNewHeader button:hover {
    background: white;
    color: #162938;

}

.forumNewHeader button{
    min-width: 100px;
    width:auto;
    height: 50px;

    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    transition: .5s;
    position: relative;
    align-self: flex-start;
    margin-left: 0.5vw;
    margin-right: 40px;
    margin-top: 20vh;
}



.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 5px;
    background: white;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.btnLogin-popup {
    width: auto;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    min-width: 130px;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: white;
    color: #162938;

}

.forumBox {
    background: white;
    border: 2px solid white;
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-height: 65vh;
    max-width: 90vw;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.forumBox .item{
    border: 2px solid black;
    border-radius: 6px;
    background: transparent;
    padding: 5px;
    margin: 5px;
}

.forumBox .item .user{
    text-decoration: underline;
    color: cadetblue;

}

/* popup windows */
.popup-error{
    position: absolute;
    width:400px;
    height:100px;
    margin:10px;
    padding:10px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    transition: transform .7s ease, height .2s ease;

    transform: scale(0);
}

.popup-error.active{
    position: absolute;
    width:400px;
    height:100px;
    margin:10px;
    padding:10px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    transform: scale(1);

}

.popup-error .icon-close-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}


.messageForm{
    position: absolute;
    width:400px;
    height:auto;
    margin:10px;
    padding:10px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    transition: transform .7s ease, height .2s ease;

    transform: scale(0);
}

.messageForm.active{


    transform: scale(1);
}

.messageForm .messageInput{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
    height:80%;
    width: 90%;
    min-height: 200px;
    resize: vertical;
    
}

.messageForm .icon-close-message{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.messageForm button{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.forumNewHeader {
    display: flex;
    position: relative;
    align-self: flex-start;

}

.dropdown{

    position: relative;

}

.content{

    background-color: #162938;
    border: 2px solid white;
    margin-left: 0.5vw;
    position:absolute;

    min-width: 100px;
    width: auto;
    text-align: center;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    visibility: hidden;
}

.dropdownBtn:hover + .content{
    visibility: visible;
}


.content a{

 
    display: block;
    color: white;
    padding: 5px 10px;
    min-width: auto;
   
    
    

}

.content a:hover{
    color: black;
    background-color: white;
    
}

.content:hover{
    visibility: visible;
}